
<div class="alert alert-danger" role="alert">
    Dado un usuario en /catfacts, Cuando aprieta el botón Search cat facts, Entonces se muestra en pantalla el dato curioso sobre gatos Y se agrega un botón
  </div>

  
  <div class="alert alert-danger" role="alert">
    Dado el nuevo botón visible, Cuando se aprieta el botón, Entonces viajo a la ruta /detail y veo listados (dinámicamente) todos los datos curiosos sobre gatos Y el último agregado tiene un estilo o color distinto (de la manera que quieran lo tienen que diferenciar)
  </div>

  
  <div class="alert alert-danger" role="alert">
    <h1>RECUERDEN QUE DEBEN IMPLEMENTAR UNA SPA</h1>
   </div>
